html,
body {
    margin: 0;
    padding: 0;
}

.section {
    width: 100%;
}

.container {
    position: relative;
    width: 1170px;
    margin: 0 auto;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 300;
    font-family: Roboto, 'Open Sans', Arial, sans-serif;
    overflow: hidden;
}

.section .container {
    padding: 30px 0 50px 0;
}

.section.bg {
    background: var(--color-secondary);
}


/* Navigation Header */

.hold {
    height: 100px;
}

.header {
    line-height: 80px;
    width: 100%;
    transition: line-height 0.2s linear, box-shadow 0.2s linear;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: white;
}

.header.small {
    line-height: 50px;
    box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.8);
}

.header.small>.container>#logo {
    height: 60px;
}

#logo {
    position: absolute;
    float: left;
    height: 10%;
    width: 20px;
    margin-left: 5px;
}

ul.nav {
    float: right;
    list-style: none;
    margin: 3px 3px;
    padding: 0;
}

ul.nav li {
    float: left;
    position: relative;
    margin: 3px 10px;
    padding: 5px 5px;
}


/*
  Slider
*/

.section .slider,
.section .footer {
    background: #333;
}

.slidercontent {
    text-align: center;
}

.hero {
    font-family: 'Roboto Slab', sans-serif;
    color: var(--font-color);
    font-weight: normal;
    letter-spacing: 1px;
}

h1.hero {
    font-size: 54px;
}

h2.hero {
    margin-bottom: 60px;
}

h1.hero:after {
    content: "";
    width: 300px;
    position: relative;
    border-bottom: 5px solid #aaa;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}


/* 
  Columns 
*/

.responsivegroup {
    display: none;
}

.group.margin {
    margin-bottom: 20px;
}


/*
  Text
*/

.container>h1:not(.hero) {
    margin-bottom: 30px;
    text-align: center;
}

.container>h1:after {
    content: "";
    width: 700px;
    position: relative;
    border-bottom: 5px solid rgb(241, 28, 28);
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}

h2 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

p {
    font-size: 20px;
}

.left,
.left>h1,
.left>p {
    text-align: left;
}


/* 
  Slider with Content
*/

.white h1,
.white h2,
.white p,
.white div,
.white a {
    color: #fff;
}


/*
  Responsive
*/

@media all and (max-width: 768px) {
    .container {
        width: 95%;
    }
    .col.four {
        width: 48%;
        margin: 1%;
    }
    .col.three {
        display: block;
        width: 95%;
        padding: 0;
        margin: 0 auto;
        float: none;
    }
    .header {
        height: auto;
        background: #eee;
    }
    #logo {
        position: initial;
        float: none;
        display: block;
        transform: none;
        margin: 10px auto 0 auto;
    }
    ul.nav {
        float: none;
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    ul.nav li {
        display: inline-block;
    }
    .responsivegroup {
        display: block;
    }
    .responsivegroup:after {
        content: "";
        display: table;
        clear: both;
    }
}

@media all and (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media all and (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media all and (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media all and (max-width:450px) {
    .col,
    .col.four,
    .col.three,
    .col.two {
        display: block;
        width: 95%;
        padding: 0;
        margin: 0 auto;
        float: none;
    }
    .col.extrapad {
        padding: 1%;
        margin-bottom: 10px;
    }
    .group {
        display: none;
    }
}